#root {
  margin: 0;
  text-align: center;
}

header {
  width: 100vw;
  max-width: 100vw;
}

.navbar { 
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0 5vw 0 5vw;
  height: 7rem;
  max-width: 100vw;
  font-size: 1.5em;
  background-color: #0e4426;
  align-items: center;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

.header-image {
  width: clamp(3rem,2rem + 4vw, 4rem);
}

.navbar a {
  margin: 0 0 0 auto;
  color: #2c955b;
}

.navbar a:hover {
  color: #74eeab;
}

.navbar a:active {
  color: #23dff0;
}

.img {
  width: 100vw;
  text-align: left;
}

.img1 {
  border-radius: 40px;
  margin-left: 5%;
  border: 4px solid purple;
}